body{
  background-image: url(atbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.container{
  display: inline-table;
  width: 400px;
  height: 600px;
  margin-left: 50px;
  position: relative;
  left: 450px;
}

.box{
  background-color: #54BA9E;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(bmo3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.box:hover{
  opacity: 0.5;
}

h1{
  position: relative;
  left: 350px;

}
#radioButtons{
  position: relative;
  right: -820px;
  top: -600px;
}
.clearBoard {
  display: block;
  position: relative;
  top: 50px;

}

.cross{
  background-color: #6fdbff;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(finnicon.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transform: rotateY(180deg);
  transition: all 1.0s linear;



}

.naught{
  background-color: #ffff33;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(jakeicon.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transform: rotateY(180deg);
  transition: all 1.0s linear;
}

/*
#box1{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;

}
#box2{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}

#box3{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
#box4{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
#box5{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
#box6{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;

}
#box7{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
#box8{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
#box9{
  background-color: grey;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
*/