body{
  background-image: url(atbg.jpg);
  background-repeat: no-repeat;
  background-size: 115%;
}

.container{
  display: inline-table;
  width: 400px;
  height: 600px;
  margin-left: 50px;
  position: relative;
  left: 400px;
}

.box{
  background-color: #54BA9E;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(bmo3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.box:hover{
  opacity: 0.5;3
}

img{
  position: relative;
  display:block;
  margin:0 auto;
  left: -30px;

}
#radioButtons{
  position: absolute;
  right: 300px;
  top: 30%;
}

#firstPlayerOne{
  position: absolute;
  top: 230px;
  left: 125px;
}
#secondPlayerOne{
  position: absolute;
  top: 260px;
  left: 125px;
}

.clearBoard {
  display: block;
  position: absolute;
  top: 300px;
  right: 430px;
}
.resetCount{
  display: block;
  position: absolute;
  top: 300px;
  right: 325px;
}
.nextMove{
  position: absolute;
  top: 300px;
  right: 240px;
}


.cross{
  background-color: #6fdbff;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(finnicon.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transform: rotateY(180deg);
  transition: all 1.0s linear;
}

.naught{
  background-color: #ffff33;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(jakeicon.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transform: rotateY(180deg);
  transition: all 1.0s linear;
}
#radioButtons img{
  position: absolute;
  width: 40%;
  left: -55px;
 }

#finnPic{
  top:0px;

}

#jakePic{
  top:110px;
}

.finn{
  color: #6fdbff;
}

.jake{
  color: yellow;
}


